<mat-slide-toggle [checked]="config" (change)="config = $event.checked">Config mode</mat-slide-toggle>
<button
    mat-raised-button
    *ngFor="let _mode of MODES"
    [disabled]="!config"
    [color]="_mode === mode ? 'primary' : null"
>
  {{ _mode }}
</button>



<mat-form-field>
    <mat-select [disabled]="!config" placeholder="Baud rate">
        <mat-option *ngFor="let baudRate of BAUD_RATES" [value]="baudRate">
            {{ baudRate }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <input [disabled]="!config" matInput placeholder="Channel" type="number" min="0" max="127">
</mat-form-field>

<mat-form-field>
    <input [disabled]="!config" matInput placeholder="Address" type="number" min="0" max="255">
</mat-form-field>

<mat-form-field>
    <mat-select [disabled]="!config" placeholder="Power">
        <mat-option *ngFor="let power of POWER" [value]="power">
            {{ power }}
        </mat-option>
    </mat-select>
</mat-form-field>

